<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">

    <% if @role == 'offeror' %>
      <% form_url = promise_path(@promise, token: @participant.token) %>
    <% elsif @role == 'offeree' %>
      <% form_url = perform_approve_promise_path(@promise, token: @participant.token) %>
    <% elsif @role == 'witnesse' %>
      <% form_url = perform_witnesse_promise_path(@promise, token: @participant.token) %>
    <% else %>
      <p>この画面にはアクセスできません。</p>
      <% return %>
    <% end %>
      <% flash.each do |key, message| %>
        <% if message.present? %>
          <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
            <%= message %>
          </div>
        <% end %>
      <% end %>

      <%= form_with model: @promise, url: form_url, method: :patch do |f| %>
        <%= hidden_field_tag :token, @participant.token %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class='row justify-content my-3 fs-5'>
          <div class="col-4">
            <% offeror_name = GuestDecorator.decorate(f.object.guest_offerors[0]).full_name %>
            <%= label_tag 'offeror_name', nil, class: "visually-hidden" %>
            <%= text_field_tag 'offeror_name', nil, placeholder: offeror_name, class: "form-control", readonly: true %>
          </div>
          <div class="col-1">
          は
          </div>
          <div class="col-4">
            <% offeree_name = GuestDecorator.decorate(f.object.guest_offerees[0]).full_name %>
            <%= label_tag 'offeree_name', nil, class: "visually-hidden" %>
            <%= text_field_tag 'offeree_name', nil, placeholder: offeree_name, class: "form-control", readonly: true %>
          </div>
          <div class="col-3">
          に対して
          </div>
        </div>

        <div class='row justify-content my-3 fs-5'>
          <div class="col-6">
            <%= f.label :deadline, class: "visually-hidden" %>
            <%= f.date_field :deadline, class: 'form-control', readonly: true %>
          </div>
          <div class="col-6">
          までに
          </div>
        </div>

        <div class="my-3">
          <%= f.label :content, class: "visually-hidden" %>
          <%= f.text_area :content, placeholder: Promise.human_attribute_name('content'),  class: "form-control", rows: "6", readonly: true %>
        </div>

        <div class="my-3  fs-5">
          達成できなかった場合は
        </div>

        <div class="my-3">
          <%= f.label :penalty, class: "visually-hidden" %>
          <%= f.text_area :penalty, placeholder: Promise.human_attribute_name('penalty'),  class: "form-control", rows: "2", readonly: true %>
        </div>

        <div class='row justify-content my-3 fs-5'>
          <div class="col-8 text-end">
            立会人：
          </div>
          <div class="col-4">
            <% witnesse_name = GuestDecorator.decorate(f.object.guest_witnesses[0]).full_name %>
            <%= label_tag 'witnesse_name', nil, class: "visually-hidden" %>
            <%= text_field_tag 'witnesse_name', nil, placeholder: witnesse_name, class: "form-control", readonly: true %>
          </div>
        </div>

        <div class="d-flex justify-content-center ">
          <% if @promise.progress == 0 %>
            <%# まだoffereeが承認していない状態 %>
            <% if @role == 'offeror' %>
              <p class="text-danger fs-4 text-center">この約束は拒否されました。</p>
              <%= link_to "修正する", edit_promise_path(@promise, token: @participant.token), method: :get, class: 'btn btn-teal my-5 px-5 py-2 fs-3' %>
            <% else %>
              <p class="text-muted">この約束を拒否しました。</p>
            <% end %>
          <% elsif @promise.progress == 1 %>
            <%# まだoffereeが承認していない状態 %>
            <% if @role == 'offeree' %>
              <%= button_to "承認する", perform_approve_promise_path(@promise, token: @participant.token), method: :patch, class: 'btn btn-teal my-5 px-5 py-2 fs-3' %>
              <%= button_to "拒否する", perform_reject_promise_path(@promise, token: @participant.token), method: :patch, class: 'btn btn-pink ms-5 my-5 px-5 py-2 fs-3' %>
            <% else %>
              <p class="text-muted">承認待ちです。</p>
            <% end %>

          <% elsif @promise.progress == 2 %>
            <%# offeree承認済み、witness立会待ち %>
            <% if @role == 'witnesse' %>
              <%= button_to "立ち会う", perform_witnesse_promise_path(@promise, token: @participant.token), method: :patch, class: 'btn btn-teal my-5 px-5 py-2 fs-3' %>
            <% else %>
              <p class="text-success">承認されています。立会い待ちです。</p>
            <% end %>

          <% else %>
            <%# witnessも立会完了済み %>
            <p class="text-success">この約束の申請は完了しています。</p>
            <%= link_to "詳細へ", promise_path(@promise, token: @participant.token), method: :get, class: 'btn btn-teal my-5 px-5 py-2 fs-3' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>